{% extends "index.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<link rel="stylesheet" href="/static/CSS/style.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<body>
  {% load static %}
  <div class="container">
    <h2 class="Plan-item text-center">PLANS</h2>
    <div class="row">
      <div class="col-sm-3 mb-2 mb-sm-0">
        <div class="card" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Pre/Post-Wedding</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Plans</h6>
            <ul>
              <li>₹15K/Photos</li>
              <li>₹10K/video</li>
              <li>₹22K/MIX</li>
            </ul>
            <a href="#" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-2 mb-sm-0">
        <div class="card" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Wedding</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Basic Plans</h6>
            <ul>
              <li>30 Sheet Album</li>
              <li>3 hour video</li>
              <li>3 Days Wedding</li>
              <li>Cinematic 1 Clip Video</li>
              <li>12x18 Frame</li>
            </ul>
            <B>Price : 25000/only</B><br>
            <a href="#" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 mb-2">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Wedding</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Standard Plans</h6>
            <ul>
              <li>40 Sheet Album</li>
              <li>4 hour video</li>
              <li>3 Days Wedding</li>
              <li>Cinematic 1 Day</li>
              <li>12x18 Frame</li>
              <li>Candid 1 Day</li>
              <li>Drone Reception 1 Day</li>
              <li>Wedding Invitation</li>
              <li>2 Reel</li>
            </ul>
            <B>Price : 50000/only</B><br>
            <a href="#" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3 mb-2">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Wedding</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Preminum Plans</h6>
            <ul>
              <li>50 Sheet Album</li>
              <li>4 hour video </li>
              <li>3 Days Wedding</li>
              <li>Cinematic 2 Days</li>
              <li>20x30 Frame</li>
              <li>Candid 2 Days</li>
              <li>Drone Reception 1 Days</li>
              <li>Wedding Invitation</li>
              <li>5 Reel video</li>
              <li>1 LED Wall</li>
              <li>1 Crane</li>
              <li>1 pendrive Box</li>
              <li>1 Calender</li>
              <li>1 MiniBook</li>
              <li>1 Wedding Treasure (1 minute)</li>
              <li>Pre-wedding Shoot</li>
            </ul>
            <B>Price : 100000/only</B><br>
            <a href="#" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
{% endblock %}